.main {
  max-width: 980px;
  margin: 20px auto;
}

.search {
  text-align: center;
}

form i {
  color: gray;
}

.table {
  margin: 20px 0;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.table-row i{
  background-color: transparent;
  color: gray;
}
